
Proyecto/Interfaz Grafica/__pycache__/base_de_datos\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/contacto\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/gestionador\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/persona\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/repuesto\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/solicitud\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/vehiculo\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/vista_asesor\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/vista_cliente\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/vista_principal\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/vista_solicitud\.cpython-37\.pyc

Proyecto/Interfaz Grafica/__pycache__/vista_util\.cpython-37\.pyc

Proyecto/Interfaz Grafica/Asesores\.bak

Proyecto/Interfaz Grafica/Asesores\.dat

Proyecto/Interfaz Grafica/Asesores\.dir

Proyecto/Interfaz Grafica/Clientes\.bak

Proyecto/Interfaz Grafica/Clientes\.dat

Proyecto/Interfaz Grafica/Clientes\.dir

Proyecto/Interfaz Grafica/Solicitudes_Baja\.bak

Proyecto/Interfaz Grafica/Solicitudes_Baja\.dat

Proyecto/Interfaz Grafica/Solicitudes_Baja\.dir

Proyecto/Interfaz Grafica/Solicitudes\.bak

Proyecto/Interfaz Grafica/Solicitudes\.dat

Proyecto/Interfaz Grafica/Solicitudes\.dir
